<!DOCTYPE html>
<html>
<head>
  <title>QAapp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

 <div>
  <% if signed_in? %>
	  <%= current_user.name %>
    <%= link_to 'signout',"/signout" %>
  <% end %>
 </div>

 <div>
   
 </div>

<%= yield %>

</body>
</html>
